@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-custom {
    background-image: url('/freepik-export-20241213092546fexx.jpeg');
    filter: brightness(90%);
    background-size: cover;
    background-position: center;
  }
#glass-morph{
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}


@font-face {
    font-family: gilroy;
    src: url('/gilroy-regular.ttf');
  }

.curved{
    clip-path: path('M 0 0 H 100% V calc(100% - 40px) Q 100% 100% calc(100% - 40px) 100% H 0 Z');
}


