@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hides scrollbar */
/* .no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */


.bg-custom {
    background-image: url('/img/ediss.jpg');
    filter: brightness(100%);
    background-size: cover;
    background-position: center;
  }

  .bg-custom , .bg-custom-2 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
  }
  
  .bg-custom-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* optional dark overlay */
    /* z-index: 1; */
  }
  .bg-services{
    /* background-image: url('img/ediss.jpg'); */
    filter: brightness(100%);
    background-size: cover;
    background-position: center;
  }
  video.bg{

  }
#glass-morph{
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(228, 228, 228, 0.755);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

::-webkit-scrollbar{
    display: none;
}

@font-face {
    font-family: gilroy;
    src: url('/font/gilroy-regular.ttf');
  }
@font-face {
    font-family: larken;
    src: url('/font/LarkenDEMO-Bold.otf');
  }
@font-face {
    font-family: heligthon;
    src: url('/font/Heligthon_Signature.otf');
  }

.curved{
    clip-path: path('M 0 0 H 100% V calc(100% - 40px) Q 100% 100% calc(100% - 40px) 100% H 0 Z');
}

.gap-1 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1vw;
  gap: 0.25rem;
}

.card .card1 {
  background-color: #E3E7ED;
  height: 60%;
  width: 100%;
  transition: all ease 0.5s;
  border-top-left-radius: 12px;  
  border-top-right-radius: 12px;
  overflow: hidden;
}

.card .card1 img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 1vw;
}

.card .card2 {
  height: 20%;
  width: 100%;
  border-bottom-left-radius: 12px;  
  border-bottom-right-radius: 12px;
  transition: all ease 0.5s;
  /* text-align: center; */
}

.card:hover .card1 {
  border-radius: 2px;
}

.card:hover .card2 {
  margin-top: 12px;
  padding-top: 5px;
  /* border-radius: 30px; */
}
/* animation round*/
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.arrow-img:hover img{
    animation: rotate360 3s linear infinite;

}
/* Apply the animation to an image */
.rotate36 {
  transition: ease 0.5s;
  display: inline-block; /* Ensures proper alignment */
  animation: rotate360 4s linear infinite;
}

.rotate36:hover{
  scale: 120%;
}

/* about us  */
.section2-image-container{
  margin-top: 10vh;
  width: 100%;
  height: 65vh;
  border-radius: 30px;
  background-image: url(https://cdn.prod.website-files.com/648884be5f32a12e5da2392f/65492b562e62e676d4159713_NS_Wayfinding%20_%20NaN-p-2600.jpg);
  background-size: 100%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.7s;
}

.section2-image-container img{
  height: 65%;
  opacity: 0;
  transition: all ease 0.7s;
  border-radius: 0;
}

.section2-image-container:hover{
  border-radius: 120px;
  background-size: 110%;
}

.section2-image-container:hover img{
  opacity: 1;
  border-radius: 70px;

}



@media screen and (max-width:768px ) {
  .abt-us-h1 {
    width: 100%;
  }
  .project-box{
height: 45vh;
  }
  .project-box-h1{
    font-size: 14vw;
  }
  .transforming-heading{
    padding: 2.5rem 0;
  }
  .transforming-heading img{
    height: 8vw;
  }
  .transforming-heading h1{
    font-size: 9vw;
  }
  .transforming-heading h2{
font-size: 1.55rem;
  }
  .page-1 h1 {
    font-size: 10vw;
    line-height: normal;
  }
  .services-flex{
    flex-direction: column;
    gap: 4rem;
  align-items: start;
  }
  .about-page-top{
    flex-direction: column;
    padding-bottom: 6rem;
    gap: 2rem;
  }
  .our-story{
    margin-top:3rem;
  }
  .our-story-span{
    font-size: 4vw;
  }
  .abt-top-heading{
    padding: 8vw 2vw;
  }
  .get-in-touch{
    height: 25vh;
  }
  .form-top{
    padding: 2rem 1rem;
  }
}

/*  */

@media screen and (max-width:480px ) {
  .weinsightians{
    font-size: 6vw;
  }
  .weinsightians-img{
    width: 9vw;
  }
}

/* goey circle */
.gooey-wrapper {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.gooey-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
