@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-custom {
    background-image: url('/freepik-export-20241213092546fexx.jpeg');
    filter: brightness(90%);
    background-size: cover;
    background-position: center;
  }
#glass-morph{
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}


@font-face {
    font-family: gilroy;
    src: url('/gilroy-regular.ttf');
  }
@font-face {
    font-family: larken;
    src: url('/LarkenDEMO-Bold.otf');
  }
@font-face {
    font-family: heligthon;
    src: url('/Heligthon Signature.otf');
  }

.curved{
    clip-path: path('M 0 0 H 100% V calc(100% - 40px) Q 100% 100% calc(100% - 40px) 100% H 0 Z');
}


/* For Page3 */
.section3{
  height: 100%;
  width: 100%;
  padding: 0px;
  display: flex;
  gap: 30px;
}

.card{
  height: 500px;
  width: 380px;
}

.card .card1{
  background-color: #E3E7ED;
  padding: .75rem;
  height: 60%;
  width: 100%;
  transition: all ease 0.5s;
  border-top-left-radius: 12px;  
  border-top-right-radius: 12px;
  overflow: hidden;
}

.card .card1 img{
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card .card2{
  height: 20%;
  width: 100%;
  border-bottom-left-radius: 12px;  
  border-bottom-right-radius: 12px;
  /* background-color: #AA81B7; */
  transition: all ease 0.5s;

}

.card:hover .card1{
  border-radius: 80px;
}
.card:hover .card2{
  border-radius: 80px;
  
}
/* animation round*/
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the animation to an image */
.rotate36 {
  transition: ease 0.5s;
  display: inline-block; /* Ensures proper alignment */
  animation: rotate360 4s linear infinite;
}

.rotate36:hover{
  scale: 120%;
}

/* about us  */
.section2-image-container{
  margin-top: 10vh;
  width: 100%;
  height: 65vh;
  border-radius: 30px;
  background-image: url(https://cdn.prod.website-files.com/648884be5f32a12e5da2392f/65492b562e62e676d4159713_NS_Wayfinding%20_%20NaN-p-2600.jpg);
  background-size: 100%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.7s;
}

.section2-image-container img{
  height: 65%;
  opacity: 0;
  transition: all ease 0.7s;
  border-radius: 0;
}

.section2-image-container:hover{
  border-radius: 120px;
  background-size: 110%;
}

.section2-image-container:hover img{
  opacity: 1;
  border-radius: 70px;

}